<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/img/logo.png"/>

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/{{ site.img }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ page.description }}">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="/lib/semantic/css/semantic.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/notes.css">
</head>

<body>
<div class="ui teal inverted menu">
  <a href="/" class="item">
    <i class="home icon"></i>
    Home
  </a>

  <div class="right menu">
    <a href="{{ site.repo }}" class="item">
      <i class="github alternate icon"></i>
      Rozwijaj
    </a>
  </div>
</div>

{{ content }}

<div class="ui divider"></div>

<div class="footer ui basic center aligned segment">
  Widzisz problem lub chcesz coś dodać do tej strony? Sforkuj lub zgłoś problem na
  <a href="{{ site.repo }}">GitHub</a>.
</div>

<div class="ui divider"></div>

<div class="footer ui basic center aligned segment">
  Stworzone w oparciu o
  <a href="https://TwoFactorAuth.org">
  TwoFactorAuth.org
  </a>
  .
</div>

<!-- 3rd Party Libraries -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/lib/semantic/javascript/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" integrity="sha256-GaKOLXTn7uJXFuWp57ukQZGuKK2gWZWlEH16hc6jBU8=" crossorigin="anonymous"></script>
</body>
</html>
